/**
* main
*/
.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  min-height: 100vh;
  height: fit-content;
}

/**
* banner's container .div
*/
.bannerImage {
  width: 50%;
}

/**
* signup fields .div
*/
.signup {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.returnBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: var(--fonts16);
  display: flex;
  align-items: center;
  gap: 5px;
}

/*google, facebook signups and form*/
.signupBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 60%;
  margin-top: 20%;
}

/*google, facebook signups*/
.signupOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.signupOptionsBtn {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border: var(--bd);
  border-radius: var(--bdr);
  width: 100%;
  height: 50px;
}

/*or*/
.signupLine {
  width: 100%;
  border-bottom: var(--bd);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.signupLine__or {
  margin-bottom: -10px;
  width: fit-content;
  background: white;
  font-size: var(--fonts16);
}

/*form*/
.signupForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/*input's container .div*/
.signupInput {
  position: relative;
  width: 100%;
  height: 50px;
  border: var(--bd);
  border-radius: var(--bdr);
}

.signup__input {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.showPassBtn {
  position: absolute;
  right: 10px;
  top: 15px;
}

/*submit button*/
.signupSubmitBtn {
  width: 100%;
  height: 50px;
  background: var(--bg-blue);
  border-radius: var(--bdr);
  color: white;
}

/*login option*/
.signupLogin {
  font-size: var(--fonts12);
}

.login__link {
  font-size: var(--fonts12);
  font-weight: var(--fontw-semibold);
}

@media (max-width: 1024px) {
  /**
  * banner's container .div
  */
  .bannerImage {
    display: none;
  }


  /**
  * signup fields .div
  */
  .signup {
    width: 100%;
  }
}

@media (max-width: 600px) {
  /*google, facebook signups and form*/
  .signupBox {
    width: calc(100% - 20px);
  }

  /*google, facebook signups and form*/
  /* .signupBox {
    margin-top: 20%;
  } */
}