@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --bg: white;
  --bg-gr: #F5F5F5;
  --bg-red: #F53935;
  --bg-blue: #00ACC1;
  --cl-w: white;
  --bd: 1px solid rgba(0,0,0,0.2);
  --bd1: 1px solid rgba(0,0,0,1);
  --bdr: 5px;
  --bdr20: 20px;
  --fonts16: 16px;
  --fonts12: 12px;
  --fonts24: 24px;
  --fonts30: 30px;
  --fonts50: 50px;
  --fonts100: 100px;
  --fontw-black: 1000;
  --fontw-semibold: 750;
  --fontw-medium: 550;
  --boxsd1: 1px 1px 2px 2px rgba(0,0,0,0.2);
}

* {
  font-family: Inter, Montserrat, Nunito, sans-serif, Arial, Helvetica;
  font-size: 18px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
}

body {
  background: var(--bg);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.icon {
  width: 30px;
  height: 30px;
}

.small__icon {
  width: 20px;
  height: 20px;
}

/**
* navigation .nav
*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  left: 0;
  right: 0;
  background: var(--bg);
  height: 60px;
  z-index: 900;
}

.nav a {
  font-size: var(--fonts12);
  font-weight: var(--fontw-semibold);
  white-space: nowrap;
}

.navOption1 {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navOption2 {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navSelect {
  font-size: var(--fonts12);
  font-weight: var(--fontw-semibold);
  cursor: pointer;
}

/**
* header
*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0 20px;
  background: var(--bg);
  z-index: 900;
}

/*logo's container*/
.headerLogo {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: var(--fonts30);
  font-weight: var(--fontw-semibold);
}

.logo__img {
  width: 40px;
  height: 40px;
  border: var(--bd);
}

.menuBtn {
  display: none;
}

/*form*/
.searchForm {
  width: calc(100% - 146px - 234px);
  height: 50px;
  border: var(--bd);
  display: flex;
  align-items: center;
  background: var(--bg);
}

/*select*/
.searchSelect {
  width: 90px;
  height: 100%;
  font-size: var(--fonts16);
  font-weight: var(--fontw-semibold);
  border-right: var(--bd);
  padding: 10px;
}

.search__input {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.searchBtn {
  height: 100%;
  padding: 0 20px;
  background: black;
  color: var(--cl-w);
  font-size: var(--fonts16);
  font-weight: var(--fontw-semibold);
}

/*header account, favorite, cart*/
.headerShop {
  display: flex;
  gap: 20px;
  align-items: center;
}

.shopBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

/*sign in account .div*/
.shopRegister {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shop__signin {
  font-size: var(--fonts12);
}

/*favorite*/
.shop__number {
  position: absolute;
  top: -10px;
  right: -10px;
  border: var(--bd1);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  font-size: var(--fonts12);
  text-align: center;
  align-content: center;
  background: var(--bg);
}

/**
* sidebar 
*/
.sidebar {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--bg);
  z-index: 800;
}

.sidebarBtn {
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  padding: 0 20px;
  border: var(--bd);
  border-top: none;
  position: relative;
  gap: 20px;
  overflow: hidden;
}

.sidebar__theme {
  max-width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebarBtn:nth-child(1) {
  background: var(--bg-gr);
  border-top: var(--bd);
  font-weight: var(--fontw-medium);
}

.arrow__img {
  position: absolute;
  right: 20px;
}

/**
* main
*/
main {
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: fit-content;
}

/**
* footer
*/
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.footerUpper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: space-evenly;
  background: var(--bg-gr);
  border: var(--bd);
  padding: 100px 20px;
}

.footerIntro {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footerSlogan {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*h6*/
.footerBrand {
  font-size: var(--fonts30);
  font-weight: var(--fontw-semibold);
}

.brandSlogan {
  font-weight: var(--fontw-semibold);
  color: var(--bg-blue);
}

.footerAbout {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about__heading {
  font-weight: var(--fontw-semibold);
}

.about__para {
  width: 100%;
  max-height: 90px;
  overflow: hidden;
  font-size: var(--fonts12);
}

/*a footer's column .div*/
.footerColumn, .footerInteract {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.footer__heading {
  font-weight: var(--fontw-semibold);
}

.footerLinks, .footerSocial, .socialLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.footer__link, .infor__details, .infor__details b {
  font-size: var(--fonts12);
}

/*send email, social media .div*/
.emailForm {
  width: 200px;
  height: 50px;
  background: var(--bg);
  border: var(--bd);
  padding: 0 10px;
  border-radius: var(--bdr20);
  display: flex;
}

.email__input {
  width: 160px;
  height: 100%;
  border-radius: var(--bdr20);
}

.socialLinks {
  flex-direction: row;
} 

.social__link {
  border: var(--bd1);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__img {
  width: 15px;
  height: 15px;
}

.footerLower {
  width: 100%;
  height: 80px;
  background: black;
  color: var(--cl-w);
  font-size: var(--fonts12);
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
* add to cart notification .div
*/
.addNotification {
  position: fixed;
  width: 200px;
  height: 80px;
  top: 80px;
  left: calc((100% - 200px) / 2);
  border: var(--bd);
  border-radius: var(--bdr);
  background: var(--bg);
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--boxsd1);
  display: none;
}

.add__heading {
  color: var(--bg-blue);
  font-weight: var(--fontw-medium);
}